{% extends "base.html" %}
{% block content %}
<article class="media content-section">
  <img class="rounded-circle article-img" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}">
  <div class="media-body">
    <div class="article-metadata">
      <a class="mr-2" href="#">{{ post.author.username }}</a>
      <small class="text-muted">{{ post.date_posted.strftime('%Y-%m-%d') }}</small>
    </div>
    <h2 class="article-title">{{ post.title }}</h2>
    <p class="article-content">{{ post.content }}</p>

    <!-- Like Button -->
    <form action="{{ url_for('like_post', post_id=post.id) }}" method="post">
      <button type="submit" class="btn btn-primary">
        {% if current_user in post.liked_by %}
          Unlike
        {% else %}
          Like
        {% endif %}
      </button>
    </form>
  </div>
</article>
{% endblock content %}
